.column-group.gutters
  .large-70
    = form_for @portfolio, :html => {:class => 'ink-form box' } do |f|
      - if @portfolio.errors.any?
        #error_explanation
          %h2
            = pluralize(@portfolio.errors.count, "error")
            prohibited this portfolio from being saved:
          %ul
            - @portfolio.errors.full_messages.each do |msg|
              %li= msg        
      %fieldset
        = f.hidden_field :user_id, :value => session[:user_id]
        .control-group
          = f.label :name
          .control
            = f.text_field :name, :placeholder => 'Portfolio name'
        .control-group
          = f.label :client_id
          .control
            = f.text_field :client_id, :placeholder => 'Client ID (from google)'
        .control-group
          = f.label :montly_budget
          .control
            = f.text_field :montly_budget, :placeholder => 'Montly budget for this portfolio'
        .control-group
          = f.label :campaigns
          .control
            = f.text_field :campaigns, :placeholder => 'A list of campaign id (numbers only)', :id => 'tag_adder', :class => 'control'
            %span.note Press Enter to add another Campaign ID    
      .actions
        .content-left
          = f.button :class => 'ink-button blue' do
            %i.icon-plus 
            Save